.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story{
    flex-basis: 18%;
/* background-image: linear-gradient(transparent,rgba(0,0,0,0.5)); */
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(./images/Dim.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    /* height: 15px;
    width: 15px; */
    position: absolute;
    width: 45px;
    border-radius: 50%;
    bottom: 5px;
    left: 2px;
    border-radius: 5px solid #626262;
}
.story p{
    position:absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

